
// @import url(https://fonts.googleapis.com/css?family=Lato:400,900,300,100);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', Helvetica;
}

body {
	background: #FFF;
}

.square(@x) {
	height: @x;
	width: @x;
}

.none {
	display: none;
}

.absol() {
	position: absolute;
}

.fixed() {
	position: fixed;
}

.rel() {
	position: relative;
}

.fl() {
	float: left;
}

.fr() {
	float: right;
}

.shadow-mobile {

}

a {
	color: inherit;
}

@mobile: ~"all and (min-width: 320px) and (max-width: 640px)";
@tablet: ~"all and (min-width: 320px) and (max-width: 959px)";
@custom: ~"all and (min-width: 320px) and (max-width: 1024px)";
@desktop: ~"all and (min-width: 960px)";

.landing-page {
	width: 100%;
	height: 100vh;
	text-align: center;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/assets/img/makoko.png");
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;


	h1 {
		color: #ffffff;
		text-transform: uppercase;
		margin-bottom: 50px;
	}

	p {
		color: #ffffff;
		font-size: 18px;
		line-height: 30px;
	}

	.location {
		width: 200px;
		background: none;
		color: #ffffff;
		border: 0;
		border-bottom: 1px solid #ffffff;
		border-radius: 0;
		outline: none;
		margin-top: 50px;
		text-transform: uppercase;
		text-align-last: center;
		-webkit-appearance: none;
	    -moz-appearance: none;
	   	appearance: none;
	   	padding-bottom: 10px;
	   	font-size: 18px;
	}

	.user-location {
		margin-top: 50px;
		font-size: 14px;
	}
}
